In [10]:
pwd

'/Users/mohamedmartino/Desktop/plotly-challenge/belly-button-diversity/data'

In [9]:
cd desktop/plotly-challenge/belly-button-diversity/data

/Users/mohamedmartino/Desktop/plotly-challenge/belly-button-diversity/data

In [3]:
import pandas as pd

In [11]:
file = pd.read_csv("belly_button_data.csv")

In [12]:
df=pd.DataFrame(file)

In [13]:
df

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3658,3662,Bacteria;TM7;TM7_genera_incertae_sedis,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3659,3663,Bacteria;Verrucomicrobia;Spartobacteria;Sparto...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3660,3664,Bacteria;Verrucomicrobia;Spartobacteria;Sparto...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3661,3665,Bacteria;Verrucomicrobia;Spartobacteria;Sparto...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3662,3666,Bacteria;Verrucomicrobia;Verrucomicrobiae;Verr...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
file_meta = pd.read_csv("belly_button_metadata.csv")
df_meta = pd.DataFrame(file_meta)

In [16]:
df_meta

,sample,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1574,BellyButtonsWildLives,Caucasian,M,30.0,7.0,I,OK,usa,66210,...,no,no,7131.0,29.147778,40.5,NaN,3,NaN,39.676666,9.5
149,1576,BellyButtonsWildLives,Caucasian,F,33.0,0.0,I,NC,usa,21045,...,no,yes,NaN,35.761112,13.5,NaN,12,NaN,32.718887,34.5
150,1577,BellyButtonsWildLives,Caucasian,M,26.0,0.0,I,NC,usa,21228,...,no,yes,893.0,40.223331,0.0,NaN,23,NaN,36.270000,27.0
151,1581,BellyButtonsWildLives,Asian(American),F,22.0,2.0,I,NC,usa,28056,...,no,no,5026.0,30.001112,25.5,NaN,0,6962.0,33.805557,15.0
152,1601,BellyButtonsWildLives,Caucasian,F,22.0,2.0,I,NC,usa,29615,...,yes,no,NaN,NaN,NaN,NaN,1,NaN,32.889999,45.5